.title {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    color: #4CAF50;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-align: center;
    padding: 0;
  }
  
  